<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Something went wrong...</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/error.css" />
  </head>
  <body>
    <main>
      <h2><%= errorMessage %></h2>
      <a href="/">Back to Home</a>
    </main>
  </body>
</html>
