<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board: Create Message</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/form.css" />
  </head>
  <body>
    <main>
      <h2>Create New Message</h2>
      <form method="POST" action="/new" class="new-message-form">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Example: john_doe"
            required
          />
        </div>

        <div class="form-group">
          <label for="messageText">Message</label>
          <textarea
            name="messageText"
            id="messageText"
            placeholder="What would you like to say?"
            required
          ></textarea>
        </div>

        <div class="button-group">
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
  </body>
</html>
