<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board: Message Details</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/message-details.css" />
  </head>
  <body>
    <main>
      <h2>Message Details</h2>
      <ul class="message-details">
        <li>Posted by: <span><%= message.username %></span></li>
        <li>Date Posted: <span><%= message.date %></span></li>
        <li>Message: <span><%= message.text %></span></li>
      </ul>
    </main>
  </body>
</html>
