<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board: Message Details</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/message-details.css" />
  </head>
  <body>
    <main>
      <h2>Message Details</h2>

      <section class="message-details">
        <div class="details-content">
          <p>Posted by</p>
          <p><%= message.username %></p>
        </div>

        <div class="details-content">
          <p>Date Posted</p>
          <p><%= message.date %></p>
        </div>

        <div class="details-content">
          <p>Message</p>
          <p><%= message.text %></p>
        </div>
      </section>

      <section class="button-group">
        <a href="/">Back to Home</a>
      </section>
    </main>
  </body>
</html>
